{% extends 'base.html.twig' %}

{% set page_header = 'Project created'|trans %}

{% block content %}
  <div class="card mt-3">
    <div class="card-body">
      <p class="card-text">{{ 'The project was created'|trans }}</p>
    </div>
  </div>
{% endblock %}