{% extends 'base.html.twig' %}

{% block title %}JIRA Economics{% endblock %}

{% block body %}
  <div id="app-root"></div>
{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('build/js/billing.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('build/js/billing.js') }}"></script>
{% endblock %}
