{% block title %}{% endblock %}

{% block app_sidebar %}
  {% include "main/_app-sidebar.html.twig" %}
{% endblock %}

{% block content %}
  <h1>Content</h1>
  <pre>
    {{ dump(_context|keys) }}
  </pre>
{% endblock %}
