{% extends 'base.html.twig' %}

{% block title %}JIRA Economics{% endblock %}

{% block body %}
  <a href="{{ path('hwi_oauth_service_redirect', {'service': 'jira' }) }}">
    <span>Log into Jira</span>
  </a>

  <div id="app-root"></div>

{% endblock %}
