// customize Bootstrap variables
$primary: #0747A6;

@import "~bootstrap/scss/bootstrap";

html, body, .wrapper {
  height: 100%;
}

@include media-breakpoint-up(md) {
  .navbar {
    height: 100%;
  }
}

.navbar-brand img {
  width: 2rem;
}

.nav-link {
  @include media-breakpoint-up(md) {
    text-align: center;
    span {
      font-size: .6rem;
    }
  }
  color: $white;
}
