// customize Bootstrap variables
$primary: #0747A6;
$gray-200: #F4F5F7;

@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "../../bundles/CreateProject/Resources/assets/createProject";

html, body, .wrapper, .main{
  height: 100%;
}


/* Global Nav */
.global-nav {
  @include media-breakpoint-up(md) {
    .navbar {
      height: 100%;
    }
  }

  .navbar-brand img {
    width: 2rem;
  }

  .nav-link {
    @include media-breakpoint-up(md) {
      text-align: center;
      span {
        font-size: .6rem;
      }
    }
    color: $white;
  }
}

/* Main */
.main-sidebar {
  background-color: $gray-200;
}

@include media-breakpoint-up(md) {
  .main-sidebar {
    height: 100%;
  }
  .main-content {
    height: 100vh;
    overflow: auto;
  }
}

@include media-breakpoint-up(md) {
  table.table tr td div.btn-group {
    opacity: 0;
    transition: opacity .2s ease-in;
  }
  table.table tr:hover td div.btn-group {
    opacity: 1;
    transition: opacity .4s ease-in-out;
  }
}
