@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css";

// ----------------------------
// Graphic service order form styling.
// ----------------------------

%remove-line {
    position: relative;
    flex: 0 0 20px;
    align-items: center;
    display: block;
    top: 38px;
    height: 24px;
    margin-left: 20px;
    cursor: pointer;
}

#graphic-service-order {
    .order-lines,
    .multi-upload-lines {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: flex;
            justify-content: space-between;
            padding: 1em 0 0;
            border-top: 1px solid $gray-300;
            &:first-child,
            &:last-child {
                border: 0;
                padding: 0;
            }

            > fieldset {
                width: 100%;
            }

            > div,
            > fieldset > div {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                flex: 1 0 75%;

                .form-group:last-child {
                    flex: 0 0 50%;
                }

                .form-group:first-child { /* stylelint-disable-line no-descending-specificity */
                    flex: 0 0 40%;
                }
            }

            .remove-line {
                @extend %remove-line;
            }
        }
    }

    .multi-upload-lines {
        .custom-file {
            flex: 0 0 75%;
        }

        li {
            margin-bottom: 1rem;
        }
        .remove-line-file {
            display: block;
            margin: 10px;
            cursor: pointer;
            flex: 0;
        }
        
        .custom-file-label {
            overflow: hidden;
            padding-right: 6em;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .icon-jfi-trash {
        background: url("../images/trash-alt-solid.svg") no-repeat 0;
        background-size: 16px;
        border: 0;
        &:before {
            content: "";
        }
    }

    .marketing-account {
        margin-top: 0;

        @include media-breakpoint-up(md) {
            margin-top: 37px;
        }
    }

    .custom-file {
        height: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
}
