parameters:
#    billing_receiver_account: 1234
#    billing_material_numbers:
#        'Interne': 000000
#        'Eksterne m/moms': 111111
#        'Eksterne u/moms': 222222

    user_created.email:
        subject: '{{ site_name }} – brugeroprettelse'
        header: 'Bruger oprettet på {{ site_name }}'
        body: |-
            <p style='margin: 0;'>Du er blevet oprettet som bruger på {{ site_name }} med e-mailadressen {{ user.email }}.</p>
            <p style='margin: 0;'>For at komme i gang skal du <a href="{{ reset_password_url }}">angive en adgangskode</a>.</p>
            <p style='margin: 0;'>Du kan efterfølgende logge ind med din e-mailadresse ({{ user.email }}) og den valgte adgangskode.</p>
        button:
            text: 'Angiv adgangskode'
        footer: '<p style="margin: 0;">Venlig hilsen<br/> {{ sender.name }}</p>'
