parameters:
    # Locate ids in the Jira instance and enter them here.
    custom_fields:
        'Epic Name': ~
        'Epic Link': ~
        'Account': ~
        'Debitor': ~
        'Sprint': ~
        'Faktureret': ~
        'Marketing Account': ~
        'Delivery Note URL': ~

    billing_receiver_account: ~
    billing_material_numbers: ~
        'Interne': ~
        'Eksterne m/moms': ~
        'Eksterne u/moms': ~

    gs_billing_material_id: ~
    gs_billing_project_id: ~
    gs_billing_receiver_psp: ~
    gs_billing_receiver_account: ~
    gs_billing_worklog_hour_price: ~

    gsorder_bundle:
        gs_files_directory: '%env(resolve:GS_FILES_DIRECTORY)%'
        form_file_gs_upload_size: '%env(resolve:FORM_FILE_GS_UPLOAD_SIZE)%'
        gs_order_project_id: '%env(resolve:GS_ORDER_PROJECT_ID)%'
        gs_order_issuetype_id: '%env(resolve:GS_ORDER_ISSUETYPE_ID)%'
