parameters:
    # Locate ids in the Jira instance and enter them here.
    custom_fields:
        'Epic Name': ~
        'Epic Link': ~
        'Account': ~
        'Debitor': ~
        'Sprint': ~
        'Faktureret': ~
        'Marketing Account': ~

    billing_receiver_account: ~
    billing_material_numbers: ~
        'Interne': ~
        'Eksterne m/moms': ~
        'Eksterne u/moms': ~

    gs_billing_material_id: ~
    gs_billing_project_id: ~
    gs_billing_receiver_psp: ~
    gs_billing_receiver_account: ~
    gs_billing_worklog_hour_price: ~

    user_created.email:
        subject: '{{ site_name }} – brugeroprettelse'
        header: 'Bruger oprettet på {{ site_name }}'
        body: |-
            <p style='margin: 0;'>Du er blevet oprettet som bruger på {{ site_name }} med e-mailadressen {{ user.email }}.</p>
            <p style='margin: 0;'>For at komme i gang skal du <a href="{{ reset_password_url }}">angive en adgangskode</a>.</p>
            <p style='margin: 0;'>Du kan efterfølgende logge ind med din e-mailadresse ({{ user.email }}) og den valgte adgangskode.</p>
        button:
            text: 'Angiv adgangskode'
        footer: '<p style="margin: 0;">Venlig hilsen<br/> {{ sender.name }}</p>'

    gsorder_bundle:
        field_debitor: customfield_10309
        gs_files_directory: '%env(resolve:GS_FILES_DIRECTORY)%'
        form_file_gs_upload_size: '%env(resolve:FORM_FILE_GS_UPLOAD_SIZE)%'
        gs_order_project_id: '%env(resolve:GS_ORDER_PROJECT_ID)%'
        gs_order_issuetype_id: '%env(resolve:GS_ORDER_ISSUETYPE_ID)%'
