.app {
  margin: 1em;
}

.toggle {
  float: right;
  margin: 0.5em;
}

.planning-section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.remaining-critical {
  color: black;
  background-color: #EB886F;
  font-weight: bold;
}

.remaining-warning {
  color: black;
  background-color: #EB886F;
  font-weight: bold;
}

.remaining-danger {
  color: black;
  background-color: #EB886F;
  font-weight: bold;
}

.remaining-success {
  color: white;
  background-color: #2FB1A2;
  font-weight: bold;
}
