<p>{{ "planning.sidebar.title"|trans }}</p>

<div id="planningBoardApp">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" v-model="filter">
    </div>

    <div v-for="board in sortedBoards.slice(0, 10)">
        <a v-bind:href="'/planning/board/'+board.id" v-html="board.name"> </a>
    </div>

    <div v-html="'Viser ' + Math.min(sortedBoards.length, 10) + ' af ' + boards.length + ' boards.'"></div>
    <div>Filtrer for at finde dit board.</div>
</div>
