{% extends 'base.html.twig' %}

{% block title %}Boards - Planning - ITK Jira{% endblock %}

{% block main %}
    <div class="row-1 p-2" id="planningBoardApp">
        <h1>{{ 'planning.board.headline'|trans }}</h1>

        <div class="spinner-border" role="status" v-show="loading">
            <span class="sr-only">Loading...</span>
        </div>

        <div class="col" v-if="!loading && boards.length > 0">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="filter" aria-label="filter" aria-describedby="basic-addon1" v-model="filter">
            </div>
            <a v-for="board in sortedBoards" class="m-1 btn btn-light" v-bind:href="'/planning/board/'+board.id" v-html="board.name"> </a>
            <div v-html="'Viser ' + Math.min(sortedBoards.length, boards.length) + ' af ' + boards.length + ' boards.'" class="mb-3"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('planning_board') }}
{% endblock %}
